<launch>

  <node name="dist_ctrl" pkg="pid" type="controller" ns="robot_lineal">
    <param name="Kp" value="0.7" />
    <param name="Ki" value="0.001" />
    <param name="Kd" value="0.0" />
    <param name="upper_limit" value="0.2" />
    <param name="lower_limit" value="-0.2" />
  </node>


  <node name="dist_ctrl" pkg="pid" type="controller" ns="robot_angular">
    <param name="Kp" value="0.5" />
    <param name="Kp_scale" value="10.0" />
    <param name="Ki" value="0.01" />
    <param name="Ki_scale" value="0.1" />
    <param name="Kd" value="0.0" />
    <param name="upper_limit" value="1" />
    <param name="lower_limit" value="-1" />
  </node>
  <node pkg="lab2_pkg" name="turtlebot" type="movimientoPID.py" output="screen" />
  <node pkg="lab2_pkg" name="pose_loader" type="pose_loader.py" output="screen"/>

</launch>