<launch>
    
	<node pkg="lab2_pkg" name="detector_de_objeto" type="detector_de_objeto.py" output="screen" />
    <node pkg="lab2_pkg" name="seguidor_de_objeto" type="seguidor_de_objeto.py" output="screen"/>

    <node name="dist_ctrl" pkg="pid" type="controller" ns="robot_angular">
        <param name="Kp" value="0.5" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.0" />
        <param name="upper_limit" value="1" />
        <param name="lower_limit" value="-1" />
    </node>
  
</launch>