<launch>
	
	<include file="$(find very_simple_robot_simulator)/launch/minimal_simulator_py.launch" />
	<include file="$(find very_simple_robot_simulator)/launch/openni_simulator_py.launch" />
	<include file="$(find very_simple_robot_simulator)/launch/world_state.launch" />

	<node pkg="lab1_pkg" name="dead_reckoning_nav" type="movement_act_1.py" />

</launch>