<launch>
	
	<include file="$(find very_simple_robot_simulator)/launch/minimal_simulator_py.launch" />
	<include file="$(find very_simple_robot_simulator)/launch/openni_simulator_py.launch" />
	<include file="$(find very_simple_robot_simulator)/launch/world_state.launch" />

	<node pkg="lab1_pkg" name="dead_reckoning_nav" type="dead_reckoning_nav_triang.py" output="screen" />
    <!-- <node pkg="lab1_pkg" name="pose_loader" type="pose_loader.py" output="screen"/> -->

</launch>