<?xml version="1.0"?>
<launch>

  <include file="$(find very_simple_robot_simulator)/launch/minimal_simulator.launch" />
  <include file="$(find very_simple_robot_simulator)/launch/lidar_simulator_py.launch" />

  <node pkg="very_simple_robot_simulator" name ="world_state_gui" type ="world_state_gui.py">
   <param name="/map_file" type="yaml" value="$(find lab3_pkg)/map/map.yaml"/>
  </node>
  
  <node pkg="lab3_pkg" name="map_broadcaster" type="map_broadcaster.py" output = "screen"/>
  <node pkg="lab3_pkg" name="particles_manager" type="particles_manager.py" output = "screen"/>
  
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find lab3_pkg)/rviz/pf_cfg.rviz"/>
  
</launch> 
